/*= require foundation */

@import "foundation_and_overrides"; //= require foundation_and_overrides

.success { background: #A6EF02; }
.failure { background: #EE7202; }
.current { background: #A2A2EE; }
