.success { color: limegreen; }
.failure { color: #FF030D; }
.current {
  background: #D2D2FE;
  font-size: 21px;
  font-weight: bold;
}
.no-outline {
  outline: none;
}
.quote {
  -webkit-box-border: 1px;
  font-family: monospace;
  font-size: 18px;
}
